@use "./base.scss";

// put your custom CSS here!
@use "./variables.scss" as *;

// 首页样式
body[data-slug="index"] img {
    filter: invert(0%);
    opacity: 0.85;
}

body {
    position: relative;
    min-height: 100vh;
}

[saved-theme="dark"] {
    // 黑暗模式背景色
    body {
        background-color: #0c141c;
    }

    #texture {
        mix-blend-mode: overlay;
    }

    // 头图
    body[data-slug="index"] img[src*="banner.svg"] {
        filter: invert(100%);
    }
}

// 黑暗模式高亮
[saved-theme="dark"] mark {
    /* background-color: hsla(57, 40%, 38%, 0.541); */ /* color: linear-gradient(120deg, #43d3ff 0%, #baaaff 80%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #f55454;
    background-image: linear-gradient(120deg, #43d3ff 0%, #baaaff 80%);
}
// 明亮模式高亮
[saved-theme="light"] mark {
    background-color: unset;
    background-position: bottom;
    background-size: 100% 40%;
    --tw-gradient-stops: #43d3ffab, #baaaff8a;
    background-image: linear-gradient(120deg, var(--tw-gradient-stops));
    background-repeat: no-repeat;
}

// 左侧侧边栏
.left {
    display: grid !important;
    gap: 1.5rem !important;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    align-items: center;

    .page-title {
        grid-area: 1 / 1 / 2 / 3;
    }

    .search {
        grid-area: 2 / 1 / 3 / 2;
    }

    .darkmode {
        grid-area: 2 / 2 / 3 / 3;
    }

    .toc {
        grid-row: 3;
        grid-column: 1 / 3;
    }

    .recent-notes:nth-last-child(2) {
        grid-area: 3 / 1 / 3 / 3;
    }

    .recent-notes:nth-last-child(1) {
        grid-area: 4 / 1 / 4 / 3;
    }

    @media all and (max-width: $pageWidth) {
        display: flex !important;
    }
}

// 标题
.center {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #2a6e3f;
    }
}

// 分割线
hr {
    overflow: visible;
    padding: 0;
    height: 0;
    margin: 4em auto;
    border: none;
    text-align: center;
    width: 100%;

    &:after {
        content: "* * *";
        display: inline-block;
        margin: -1em 0 0.5em;
        font-size: 1.5em;
        padding: 0.5em 1em;
        color: var(--gray);
    }
}

// 代码块
pre.poetry {
    font-size: 1.2rem;
    font-family: biro_script_standardRgus;
    border: none;
    padding: 0;
    position: unset;
}

.meta,
.content-meta {
    font-family: biro_script_standardRgus, var(--bodyFont);
}

audio::-webkit-media-controls-panel {
    background-color: var(--lightgray);
}

// 自定义文章
body[data-slug="thoughts/craft"] {
    & li:has(> img, > video) {
        list-style-type: none;

        & > img,
        & > video {
            margin: 1rem 0;
        }
    }

    article > ul {
        padding-left: 0;

        & > li {
            list-style-type: none;
            margin: 1rem 0;
        }
    }
}
